{{ ansible_managed | comment }}

## CentOS 7 /etc/pdns/pdns.conf

#################################
# Not all pdns.conf settings exist in this file, so please visit:
# https://doc.powerdns.com/md/authoritative/settings/
# to see a full list. Remember, however, that any 
# changes made to this file will be overwritten when
# Ansible runs again. It is best to setup vars in the 
# vars file

#################################
# guardian	Run within a guardian process
#
guardian=no

#################################
# launch	Which backends to launch and order to query them in
#
{% if pdns_authoritative_backend.cfg_keyword == %}
launch={{ pdns_authoritative_backend.cfg_keyword }}
gsqlite3-database={{ pdns_backend-sqlite_db }}
{% endif %}

#################################
# local-address	Local IP addresses to which we bind
#
local-address={{ ansible_default_ipv4.address | default('127.0.0.1') }}

#################################
# local-address-nonexist-fail	Fail to start if one or more of the local-address's do not exist on this server
#
local-address-nonexist-fail=yes

#################################
# local-ipv6	Local IP address to which we bind
#
# local-ipv6=::

#################################
# local-ipv6-nonexist-fail	Fail to start if one or more of the local-ipv6 addresses do not exist on this server
#
# local-ipv6-nonexist-fail=yes

#################################
# local-port	The port on which we listen
#
local-port={{ dns_authoritative_port | default('53') }}
